* {
  margin:0;
  padding: 0;
}
.header {
  background-color: rgb(183, 110, 121);
  height: 20rem;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
  h1 {

    display:flex;
    justify-content:center;
    color: white;
  }
  

.footer {
  background-color:  rgb(183, 110, 121);
  width:100%;
  height: 20rem;
}
  #yoga-chakra {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
  }
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: pink;;
}
nav {
  height: 10vh;
  background:rgb(179, 83, 137);
}
.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: auto;

}
 .link  a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  display:flex;
}
.link a:hover {
  text-decoration: none;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 6px 0;
  color:rgb(23, 84, 99);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;

}
.content {
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.sidebar {
  display:flex;
  flex-direction: column;
  background-color: rgb(197, 196, 196);
  
}
.sidebar h2 {
  color: $sidebar-heading;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-transform:uppercase;
}
.sidebar p{
  padding:2rem;
  line-height: 1.5rem;
  word-spacing: 0.5rem;

}
.sidebar h2 {
  color: rgb(23, 84, 99);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  text-transform:uppercase;
}
.sidebar  p{
  padding:2rem;
  line-height: 1.5rem;
  word-spacing: 0.5rem;

}
.main {
 
  width: 100%;
  background-color: rgb(197, 196, 196);

}
.card-container {
  display: flex;
  margin-top: 3rem;
  margin-bottom:1rem;
  width:100%;
  background-color: rgba(115, 123, 190, 0.95);

}
.city {
  width: 30%;
  margin: 0.5em auto;
  background-color: rgb(183, 110, 121);
  border: 2px solid rgb(173, 223, 169);

}
.city-image,
.description {
  width: 90%;
  margin: 0 auto;
}
.city-image {
  padding: 1.2em 1em;
}

.description {
  padding: 1em 2em;
}

.city-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}
.description h2 {
  padding-bottom: 0.5em;
}
.footer-text {
  color: white;
  text-shadow: 0.2rem 0.2rem rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content:center;
  align-items: center;
  height: 18rem;

 }
 /*Accordion styling*/
 .container {
   width: 100%;
   max-width: 30rem;
   margin:auto;
 }
 .accordion {
   width: 100%;
   max-width: 33rem;
   margin: 1.1rem auto;
   color:whitesmoke;
 }
 .accordionHeading {
   background:rgb(55, 55, 134);
   padding: 0.5rem 0;
   border: 2px solid tomato;
   margin: 1rem;
 }

 .accordionHeading .container{
   display:flex;
   align-items: center;
   justify-content: space-between;
 }


 .accordionHeading p {
   letter-spacing: 0.075rem;
   font-weight: 600 ;
 }
 .accordionHeading span {
   cursor: pointer;

 }

 .accordionContent {
   background:rgb(125, 168, 125);
   height: 0;
   opacity: 0;
   display: flex;
   overflow: hidden;
   transition: all 600ms ease-in-out;
 }
 .accordionContent .show {
   height: 180px;
   opacity: 1;
   
 }



 .accordionContent p {
    font-size: 1rem;
    line-height: 1.6;
   
 }